* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgba(255, 221, 214, 0.671); */
}

html {
    font-size: 62.5%;
}

:root {
    --brown: #663300;
    --light-brown: #bf8e5c;
    --transparent-brown: #8655258c;
    --beige: #fff2e6;
    --title-font-lg: 2.5rem;
    --title-font-md: 1.9rem;
    --title-font-sm: 1.6rem;
    --title-font-xs: 1.3rem;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: var(--brown);
    font-size: 2rem;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.padding-block {
    padding-block: 1rem;
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--beige);
    z-index: 10;
}

.nav-container a, .icons {
    transition: transform 0.5s linear;
}

.nav-container a:hover, .icons:hover {
    transform: scale(1.1);
}

.right-side {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-shadow {
    box-shadow: 0px 1px 3px var(--transparent-brown);
    transition: box-shadow 0.5s;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 5.4rem;
    margin: 0 3rem;
}

h2, h3 {
    margin: 1rem 0;
}

.contact-section p, .social-media, form {
    margin-left: 2rem;
}

.social-media li {
    list-style: none;
    padding: 1rem 0;
    transition: transform 0.5s linear;
    /* border: 1px solid black; */
}

.social-media li:hover {
    transform: scaleX(0.97) scaleY(1.03);
}

.social-media a {
    text-decoration: none;
    color: var(--light-brown);
}

.social-media a:hover {
    color: rgb(153, 98, 47);
}

.sm-icons {
    position: relative;
    top: 0.7rem;
    height: 3rem;
}

input, textarea {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

#submit {
    background-color: var(--brown);
    color: var(--beige);
    padding: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0.9;
    border-color: var(--beige);
    font-size: 1.7rem;
}

#submit:hover {
    opacity: 1;
}

footer {
    width: 100%;
    position: relative;
    top: 5.4rem;
    display: grid;
    padding: 1rem 2rem;
    background: var(--beige);
}

.categories {
    display: grid;
}

.footer-titles, .company-policies {
    color: var(--brown);
}

.list-items {
    list-style: none;
}

.list-items a {
    text-decoration: none;
    color: var(--light-brown);
}

.list-items a:hover {
    color: var(--brown);
}

/* Media queries */
@media screen and (max-width: 400px) {

    .nav-name img{
        height: 2.8rem;
        padding-left: 1.3rem;
    }
    
    .right-side img {
        height: 2rem;
    }
    
    .icons {
        width: 2.8rem;
    }
    
    .footer-titles {
        font-size: var(--title-font-sm);
    }
}
@media screen and (min-width: 400px) {

    .nav-name img{
        height: 3rem;
        padding-left: 1.5rem;
    }
    
    .right-side img {
        height: 2rem;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
    }

    .sub {
        margin: 0 1rem;
    }

    .icons {
        width: 3rem;
    }

    .footer-titles {
        font-size: var(--title-font-md);
    }
}

@media screen and (min-width: 768px) {

    body {
        font-size: 2.3rem;
    }

    .nav-name img{
        height: 3.3rem;
        padding-left: 1.7rem;
    }
    
    .right-side img {
        height: 2.3rem;
    }
    
    .nav-shadow {
        box-shadow: 0px 1px 7px var(--transparent-brown);
    }

    footer {
        top: 5.9rem;
        font-size: 2.3rem;
    }

    .icons {
        width: 3.3rem;
    }

    .footer-titles, .menu h5 {
        font-size: var(--title-font-lg);
    }

    .main {
        top: 5.9rem;
        max-width: 700px;
        margin: auto;
    }

    .social-media {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    #form-name, #form-email {
        height: 3rem;
        width: 20rem;
    }
}