* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgba(255, 221, 214, 0.671); */
}

html {
    font-size: 62.5%;
}

:root {
    --brown: #663300;
    --light-brown: #bf8e5c;
    --transparent-brown: #8655258c;
    --beige: #fff2e6;
    --title-font-lg: 2.5rem;
    --title-font-md: 1.9rem;
    --title-font-sm: 1.6rem;
    --title-font-xs: 1.3rem;
}

body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.padding-block {
    padding-block: 1rem;
}

.nav-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--beige);
    z-index: 10;
}

.nav-container a, .icons {
    transition: transform 0.5s linear;
}

.nav-container a:hover, .icons:hover {
    transform: scale(1.1);
}

.right-side {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-shadow {
    box-shadow: 0px 1px 3px var(--transparent-brown);
    transition: box-shadow 0.5s;
}

.menu {
    position: relative;
    width: 100%;
    top: 5rem;
    text-align: center;
    color: var(--brown);
}

.menu h5 {
    color: var(--light-brown);
    margin-top: 1rem;
    padding-block: 1rem;
}

.menu ul {
    display: grid;
    list-style: none;
}

.menu li{
    padding-block: 2rem;
}

.menu section::after {
    content: '- - - - -';
    font-weight: bolder;
}

.menu li:last-child {
    margin-bottom: 1rem;
}
.menu-img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
}

.ingredients {
    display: block;
    color: var(--transparent-brown);
}

.ingredients::before {
    content: '(';
}

.ingredients::after {
    content: ')';
}

#toTop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    bottom: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--brown);
    opacity: 0.9;
    text-decoration: none;
    z-index: 10;
}

#toTop:hover {
    opacity: 1;
}

footer {
    width: 100%;
    position: relative;
    top: 5rem;
    display: grid;
    padding: 1rem 2rem;
    background: var(--beige);
}

.categories {
    display: grid;
}

.footer-titles, .company-policies {
    color: var(--brown);
}

.list-items {
    list-style: none;
}

.list-items a {
    text-decoration: none;
    color: var(--light-brown);
}

.list-items a:hover {
    color: var(--brown);
}

/* Media queries */
@media screen and (max-width: 400px) {
    
    body {
        font-size: 1.5rem;
    }

    .nav-name img{
        height: 2.8rem;
        padding-left: 1.3rem;
    }
    
    .right-side img {
        height: 2rem;
    }
    
    .icons {
        width: 2.8rem;
    }
    
    .footer-titles, .menu h5 {
        font-size: var(--title-font-sm);
    }
}
@media screen and (min-width: 400px) {

    body {
        font-size: 1.7rem;
    }

    .nav-name img{
        height: 3rem;
        padding-left: 1.5rem;
    }
    
    .right-side img {
        height: 2rem;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 1rem;
    }

    .sub {
        margin: 0 1rem;
    }

    .icons {
        width: 3rem;
    }

    .footer-titles, .menu h5 {
        font-size: var(--title-font-md);
    }

    .ingredients {
        font-size: var(--title-font-sm);
    }
}

@media screen and (min-width: 768px) {

    body {
        font-size: 2.3rem;
    }

    .nav-name img{
        height: 3.3rem;
        padding-left: 1.7rem;
    }
    
    .right-side img {
        height: 2.3rem;
    }

    .nav-shadow {
        box-shadow: 0px 1px 7px var(--transparent-brown);
    }

    footer {
        font-size: 2.3rem;
    }

    .icons {
        width: 3.3rem;
    }

    .footer-titles, .menu h5 {
        font-size: var(--title-font-lg);
    }

    .menu ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .menu ul{
        grid-template-columns: repeat(3, 1fr);
    }

    .menu section::after {
        content: '- - - - - - - - -';
    }
}