* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgba(255, 221, 214, 0.671); */
}

html {
    font-size: 62.5%;
}

:root {
    --brown: #663300;
    --light-brown: #bf8e5c;
    --beige: #fff2e6;
}

#home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.circles {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: red;
    z-index: 100;
}

#cafe-cover {
    width: 120%;
    height: 100%;
    object-fit: contain;
    filter: contrast(130%) drop-shadow(0px 0px 5px gray);
    animation: coverDisappear 4s;
    opacity: 0;
}

@keyframes coverDisappear {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0.8;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

#cafe-container {
    position: absolute;
    animation: cafeAppear 5s;
    opacity: 1;
}

@keyframes cafeAppear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

#hello {
    transform:translate(550px, 450px) scale(0.65);
    filter: drop-shadow(0px 3px 2px whitesmoke);
}

#hello rect {
    opacity: 0;
}

.appearA {
    opacity: 1;
}

#vapor {
    transform: translate(1320px, 150px) rotate(-15deg);
    filter: brightness(2) drop-shadow(0px 3px 2px rgb(160, 160, 160));
}

#first-batch {
    animation: animate1 5s ease-in-out infinite;
    filter: brightness(2) blur(0.5);
}

@keyframes animate1 {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.2;
    }
}

#second-batch {
    animation: animate2 5s ease-in-out infinite;
    filter: brightness(2) blur(0.5);
}

@keyframes animate2 {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.9;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}

#third-batch {
    animation: animate3 5s ease-in-out infinite;
    filter: brightness(2) blur(0.5);
}

@keyframes animate3 {
    0% {
        opacity: 0.3;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.3;
    }
    75% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}

#image0_4_2 {
    animation: shadow 5s infinite;
}

@keyframes shadow {
    0% {
        filter: drop-shadow(-2px 5px 10px gray);
    }
    25% {
        filter: drop-shadow(-2px 3px 7px whitesmoke);
    }
    50% {
        filter: drop-shadow(-2px 5px 10px gray);
    }
    75% {
        filter: drop-shadow(-2px 3px 7px whitesmoke);
    }
    100% {
        filter: drop-shadow(-2px 5px 10px gray);
    }
}

#cafe-name {
    stroke: var(--beige);
}

#image1_0_1, #cafe-name, #image2_0_1, #image3_0_1 {
    animation: nameLight 3s ease-in-out infinite;
}

@keyframes nameLight {
    0% {
        filter: drop-shadow(0px 0px 3px white);
    }
    25% {
        filter: drop-shadow(0px 0px 2px brown);
    }
    50% {
        filter: drop-shadow(0px 0px 3px white);
    }
    75% {
        filter: drop-shadow(0px 0px 2px brown);
    }
    100% {
        filter: drop-shadow(0px 0px 3px white);
    }
}

#image3_0_1 {
    animation: contactLight 3s ease-in-out infinite;
}

@keyframes contactLight {
    0% {
        filter: drop-shadow(0px 0px 4px white);
    }
    25% {
        filter: drop-shadow(0px 0px 4px brown);
    }
    50% {
        filter: drop-shadow(0px 0px 4px white);
    }
    75% {
        filter: drop-shadow(0px 0px 4px brown);
    }
    100% {
        filter: drop-shadow(0px 0px 4px white);
    }
}

#cafe-menu:hover, #cafe-contact:hover {
    animation: hoverLight 3s ease-in-out infinite;
}

@keyframes hoverLight {
    0% {
        filter: drop-shadow(0px 0px 3px brown) brightness(5) saturate(0.17) grayscale(0.3);
    }
    25% {
        filter: drop-shadow(0px 0px 2px var(--beige));
    }
    50% {
        filter: drop-shadow(0px 0px 3px brown) brightness(5) saturate(0.17) grayscale(0.3);
    }
    75% {
        filter: drop-shadow(0px 0px 2px var(--beige));
    }
    100% {
        filter: drop-shadow(0px 0px 3px brown) brightness(5) saturate(0.17) grayscale(0.3);
    }
}

#image4_0_1 {
    animation: aboutLight 3s ease-in-out infinite;
}

@keyframes aboutLight {
    0% {
        filter: drop-shadow(0px 0px 3px white);
    }
    25% {
        filter: drop-shadow(0px 0px 2px black);
    }
    50% {
        filter: drop-shadow(0px 0px 3px white);
    }
    75% {
        filter: drop-shadow(0px 0px 2px black);
    }
    100% {
        filter: drop-shadow(0px 0px 3px white);
    }
}

#cafe-about {
    filter: brightness(5) saturate(0.17) grayscale(0.3);
 }
 
 #cafe-about:hover {
     animation: aboutHoverLight 3s ease-in-out infinite;
 }

 @keyframes aboutHoverLight {
    0% {
        filter: drop-shadow(0px 0px 3px white) brightness(5) saturate(0.17) grayscale(0.3);
    }
    25% {
        filter: drop-shadow(0px 0px 2px var(--beige));
    }
    50% {
        filter: drop-shadow(0px 0px 3px white) brightness(5) saturate(0.17) grayscale(0.3);
    }
    75% {
        filter: drop-shadow(0px 0px 2px var(--beige));
    }
    100% {
        filter: drop-shadow(0px 0px 3px white) brightness(5) saturate(0.17) grayscale(0.3);
    }
}

#cafe-menu, #cafe-contact, #cafe-about {
    cursor: pointer;
}

 
/* Media queries */
@media screen and (max-width: 400px) {
    #home {
        height: 100vh;
        overflow: hidden;
    }
    #cafe-container, #cafe-cover {
        width: 140%;
        object-position: center;
    }

    footer {
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 400px) {
    #home {
        height: 100vh;
        overflow: hidden;
    }
    #cafe-container, #cafe-cover {
        width: 130%;
        object-position: center;
        
    }

    footer {
        font-size: 2rem;
    }
}

@media screen and (min-width: 700px) {
    #cafe-container {
        height: 100%;
        object-position: center;
    }
}

@media screen and (min-width: 768px) {
    footer {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}